* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    align-self: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

header {
    padding: 1rem;
}

.header-wrapper {
    display: flex;
    gap: 1rem;
}

header img {
    height: auto;
    max-width: 50px;
}

header h1 {
    align-content: center;
    margin: 0;
}

main {
    flex-grow: 1;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 2rem;
    padding: 2rem;
    perspective: 2000px;
    justify-content: space-evenly;
}

.card {
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
    min-height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    position: relative;
}

.card:hover {
    transform: rotateY(180deg);
}

#books-card .card-front {
    background-image: url(/img/books.jpg);
    background-size: cover;
}

#authors-card .card-front {
    background-image: url(/img/author.jpg);
    background-size: cover;
}

.card-front,
.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card-front {
    background-color: #ffffff;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card-back button {
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    max-width: 300px;
    padding: 0.5rem;
    transition: background-color 0.3s;
    width: 100%;
    color: white;
}

.create-button {
    background-color: #4CAF50;
}

.create-button:hover {
    background-color: #45a049;
}

.search-button {
    background-color: #2196F3;
}

.search-button:hover {
    background-color: #1976D2;
}

.update-button {
    background-color: #FFC107;
}

.update-button:hover {
    background-color: #FFA000;
}

.delete-button {
    background-color: #F44336;
}

.delete-button:hover {
    background-color: #D32F2F;
}